.familiarBook .divider {
  margin-left: 80px;
}
.unfamiliarBook,
.familiarBook {
  padding: 12px 12px 24px 12px;
  margin-top: 24px;
  border: 2px solid #000;
  border-radius: 6px;
}
.unfamiliarBook .bookName,
.familiarBook .bookName {
  width: 100%;
  margin-bottom: 12px;
}
.unfamiliarBook .todayWords,
.familiarBook .todayWords {
  margin-right: 16px;
  text-align: center;
}
.unfamiliarBook .todayWords .twName,
.familiarBook .todayWords .twName {
  margin-top: 8px;
}
.unfamiliarBook .newWords,
.familiarBook .newWords {
  margin-right: 16px;
  text-align: center;
}
.unfamiliarBook .newWords .nName,
.familiarBook .newWords .nName {
  margin-top: 8px;
}
.unfamiliarBook .finishWords,
.familiarBook .finishWords {
  margin-right: 16px;
  text-align: center;
}
.unfamiliarBook .finishWords .fName,
.familiarBook .finishWords .fName {
  margin-top: 8px;
}
.unfamiliarBook .divider,
.familiarBook .divider {
  width: 2px;
  height: 40px;
  background-color: #000;
}
.unfamiliarBook .beginLearning,
.familiarBook .beginLearning {
  padding: 6px 16px;
  margin: 3px 0px 0px 16px;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 6px;
}
.unfamiliarBook .beginLearning:hover,
.familiarBook .beginLearning:hover {
  color: #fff;
  background-color: #000;
}
.saying {
  height: 80px;
  padding: 6px 19px;
  text-align: center;
}
