*{
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei";
}
html
,body{
    width: 100%;
    height: 100%;
    // -webkit-app-region: drag;
    -webkit-app-select: select;
}
body{
    background-color: #eee;
}
.hide{
    display: none!important;
}
.show{
    display: block!important;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.pointer{
    cursor: pointer;
}
.border-box{
    box-sizing: border-box;
}
.content-box{
    box-sizing: content-box;
}
.border-box,
.content-box{
    position: relative;
    &:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        font-size:0;
    }
}
.clear-float{
    &:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        font-size:0;
    }
}
//过渡效果
.transform{
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
//淡出淡入
.fade-in{
    opacity: 1;
    z-index: 100!important;
}
.fade-out{
    opacity: 0;
    z-index: -1!important;
}
//悬浮效果
.hover-effect{
    &:hover{
        opacity: 0.7;
    }
}
//输入框默认样式去除
.none-input{
    outline: none;
    border: none;
}
//平行四边形
.para{
    transform: skew(-10deg);
}
.anti-para{
    transform: skew(10deg);
}
a{
    text-decoration: none;
}
input
,button{
    outline: none;
    -webkit-app-region: no-drag;
    -webkit-app-select: select;
}
button:hover{
    opacity: 0.8;
}
.searchLoading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #fff;
    z-index: 999;
}
.searchWord{
    position: relative;
    top: 50%;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    margin-top: -16px;
    border: 2px solid #000;
    border-radius: 50%;
}
.searchWordAnimation{
    -webkit-animation: magnify 0.66s linear infinite alternate;
    -moz-animation: magnify 0.66s linear infinite alternate;
    animation: magnify 0.66s linear infinite alternate;
}
.searchWord:before{
    content: "CQF";
    position: absolute;
    top: 8px;
    left: 3px;
    color: #000;
    font-family: "Microsoft YaHei";
    font-size: 12px;
}
.searchWord:after{
    content: "";
    position: absolute;
    top: 29px;
    left: 32px;
    width: 3px;
    height: 17px;
    background-color: #000;
    transform:rotate(-41deg);
    -ms-transform:rotate(-41deg);     /* IE 9 */
    -moz-transform:rotate(-41deg);    /* Firefox */
    -webkit-transform:rotate(-41deg); /* Safari 和 Chrome */
    -o-transform:rotate(-41deg);  /* Opera */

}
@keyframes magnify{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
body{
    padding-top: 87px;
    box-sizing: border-box;
    overflow: hidden;
}
.app{
    height: 100%;
}
.main-content{
    position: relative;
    height: 100%;
}
.vertical-scrollbar{
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border: 2px solid rgba(0,0,0,0);
        background-clip: content-box;
        background-color: #666;
        &:hover {
            background-color: #a9a9a9;
        }
    }
    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}