doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
    body
        div#app
            router-view

        //- div#app1

        //- a(href='/foo') 开启旅行
        //- a(href='/app') 主程序
