doctype html
html
  head
    title="CQF"
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    link(rel='stylesheet' href="../css/public.css")
    block cssBlock
  body
    div.titleBanner
        //div.minimize(title="最小化窗口")
        div.close(title="关闭窗口")
    div.topBanner.borderBox
    div.currentPage.borderBox
    div.saying
    div.searchLoading.transform.hide
        div.searchWord
    block content
    //script(src='../../public/src/lib/jquery.min.js')
    script(src='../js/main.js')
    block jsBlock
