div.app
    menu-bar
    search-box
    div.main-content
        //- 
        //- div
        //-     {{loading}}
        router-view
        div.searchLoading(v-show="loading")
            div.searchWord.searchWordAnimation
        