div.app
    menu-bar
    div.main-content
        //- search-box
        //- div
        //-     {{loading}}
        router-view
        div.searchLoading(v-show="loading")
            div.searchWord.searchWordAnimation
        