div.search-box.trans
    div.search-backforward.fl
        span.search-back.fl.pointer
        span.search-forward.fl.pointer
    div.search-lang.para.fl.hover-effect En
    div.search-input.fl
        input(type="text" placeholder="请输入文本(Please enter your text)").none-input
    div.search-contain.fl.hover-effect
        div.search-triangle.fl
        div.search-button.fl
            span.search-icon.pointer.fl